# Code Test - Joshua McDonald
For [Nucleus Wealth] (https://nucleuswealth.com/) - Application from [Seek](https://www.seek.com.au/job/41223086?type=standout#searchRequestToken=5ef7256d-24d8-45c6-ad1e-75d901414c11)
## Description:
With your application, please include the following coding samples using the data from [CSSEGISandData
/
COVID-19] (https://github.com/CSSEGISandData/COVID-19):

## Task 1
Python: Download a timeseries of daily deaths per country

In [266]:
# Imports
import pandas as pd
import io
import requests

In [267]:
url="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
covid_daily_deaths = pd.read_csv(url, error_bad_lines=False)
covid_daily_deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,2,4,4,4,4,4,4,4
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,4,5,5,6,8,10,10,11,15,15
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,17,19,21,25,26,29,31,35,44,58
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,3,3,3,6,8,12,14
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Task 2
Python: Convert the table so that each country and each day is a separate row

- I assume you mean have countries as columns, and days as the rows. 
- the main task here to clean the data so that the country names are unique keys, and then reset the columns names

In [269]:
# Cleaning the data
covid_daily_deaths.drop(["Lat", "Long", "Province/State"], axis =1, inplace =True)
covid_daily_deaths = covid_daily_deaths.groupby(["Country/Region"]).sum()

In [270]:

covid_daily_deaths = covid_daily_deaths.transpose()
covid_daily_deaths.index.rename('Date_ID', inplace=True)
covid_daily_deaths.columns.name = None

In [271]:
covid_daily_deaths=covid_daily_deaths.reset_index()
covid_daily_deaths

,Date_ID,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,3/28/20,4,10,29,3,0,0,18,1,14,...,9,2,1021,0,2,2,0,1,0,1
67,3/29/20,4,10,31,6,2,0,19,3,16,...,10,3,1231,1,2,2,0,1,0,1
68,3/30/20,4,11,35,8,2,0,23,3,17,...,13,5,1411,1,2,3,0,1,0,1
69,3/31/20,4,15,44,12,2,0,27,3,18,...,17,6,1793,1,2,3,0,1,0,1
70,4/1/20,4,15,58,14,2,0,28,4,20,...,20,8,2357,2,2,3,0,1,0,1

As you can see, we now how the countries as column names, with only one entry for each country.

## Task 3
Python: Provide code to upload the table from step 3 into an SQL table named deaths_total

In [272]:
# create an in memory database
from sqlalchemy import create_engine
#connecting to a local mysql server, with precreted database coviddata
engine = create_engine('mysql://root:password@localhost/coviddata', echo=False)

# Create SQL table and upload data using pandas
covid_daily_deaths.to_sql(name= "deaths_total", con=engine, if_exists='replace')

In [273]:
# Run test query
sql = """
SELECT *
FROM deaths_total
"""

df = pd.read_sql_query(sql, engine)
df.tail()

,index,Date_ID,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
66,66,3/28/20,4,10,29,3,0,0,18,1,...,9,2,1021,0,2,2,0,1,0,1
67,67,3/29/20,4,10,31,6,2,0,19,3,...,10,3,1231,1,2,2,0,1,0,1
68,68,3/30/20,4,11,35,8,2,0,23,3,...,13,5,1411,1,2,3,0,1,0,1
69,69,3/31/20,4,15,44,12,2,0,27,3,...,17,6,1793,1,2,3,0,1,0,1
70,70,4/1/20,4,15,58,14,2,0,28,4,...,20,8,2357,2,2,3,0,1,0,1

As you can see, we can fetch data from the death_total table on our coviddata database, running on our mysql server

## Task 4
Python: From the data in step 2, calculate the daily change in deaths for each country

- Using pandas, this is a trivial task

In [274]:

try:
    daily_change = covid_daily_deaths.diff()
except TypeError:
    pass # not worrying about the nan first row
daily_change.Australia.tail(20)

50    0.0
51    0.0
52    0.0
53    0.0
54    0.0
55    2.0
56    1.0
57    0.0
58    1.0
59    0.0
60    0.0
61    0.0
62    1.0
63    0.0
64    5.0
65    0.0
66    1.0
67    2.0
68    1.0
69    1.0
Name: Australia, dtype: float64

## Task 5
Python: Provide code to upload the table from step 4 into an SQL table named deaths_change_python

In [284]:
# uploading again with the help of pandas and sqlalchemy
daily_change.to_sql(name= "deaths_change_python", con=engine, if_exists='replace' )

In [276]:
# Run test query
    # show me the last 2 weeks
sql = 'SELECT deaths_change_python.Date_ID, deaths_change_python.Australia, deaths_change_python.US, deaths_change_python.Italy, deaths_change_python.`United Kingdom` FROM deaths_change_python'

df = pd.read_sql_query(sql, engine)
df.tail(14)

    Date_ID  Australia     US  Italy  United Kingdom
56  3/18/20        1.0   10.0  475.0            16.0
57  3/19/20        0.0   82.0  427.0            66.0
58  3/20/20        1.0   44.0  627.0            40.0
59  3/21/20        0.0   63.0  793.0            56.0
60  3/22/20        0.0  110.0  651.0            48.0
61  3/23/20        0.0  140.0  601.0            54.0
62  3/24/20        1.0  149.0  743.0            87.0
63  3/25/20        0.0  236.0  683.0            43.0
64  3/26/20        5.0  267.0  712.0           114.0
65  3/27/20        0.0  372.0  919.0           181.0
66  3/28/20        1.0  445.0  889.0           260.0
67  3/29/20        2.0  441.0  756.0           210.0
68  3/30/20        1.0  511.0  812.0           180.0
69  3/31/20        1.0  895.0  837.0           382.0

# Task 6
Provide SQL code to calculate the daily change for each country using only the data from deaths_total and save it into an SQL table named deaths_change_sql 
- This is a great opportunity to use a window function

In [277]:
# get a list of column names to loop over
sql = """SHOW COLUMNS FROM deaths_total
"""
df = pd.read_sql_query(sql, engine)
list1 = list(df.Field) # This list of countries will need to be hard coded into the SQL for static SQL, or used in a more vulnerable way of with dynamic SQL
print(list1[1:])

['Date_ID', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Zambia', 'Zimbabwe']

Building our query using python:

In [278]:
sql = 'DROP TABLE IF EXISTS deaths_change_sql; CREATE TABLE deaths_change_sql SELECT Date_id'
for country in list1[2:]:
    country = '`'+country+'`'
    sql += ', '+str(country)+' - LAG('+str(country)+', 1) OVER(ORDER BY `index`) '+str(country)
sql+=' FROM deaths_total'
print(sql)

DROP TABLE IF EXISTS deaths_change_sql; CREATE TABLE deaths_change_sql SELECT Date_id, `Afghanistan` - LAG(`Afghanistan`, 1) OVER(ORDER BY `index`) `Afghanistan`, `Albania` - LAG(`Albania`, 1) OVER(ORDER BY `index`) `Albania`, `Algeria` - LAG(`Algeria`, 1) OVER(ORDER BY `index`) `Algeria`, `Andorra` - LAG(`Andorra`, 1) OVER(ORDER BY `index`) `Andorra`, `Angola` - LAG(`Angola`, 1) OVER(ORDER BY `index`) `Angola`, `Antigua and Barbuda` - LAG(`Antigua and Barbuda`, 1) OVER(ORDER BY `index`) `Antigua and Barbuda`, `Argentina` - LAG(`Argentina`, 1) OVER(ORDER BY `index`) `Argentina`, `Armenia` - LAG(`Armenia`, 1) OVER(ORDER BY `index`) `Armenia`, `Australia` - LAG(`Australia`, 1) OVER(ORDER BY `index`) `Australia`, `Austria` - LAG(`Austria`, 1) OVER(ORDER BY `index`) `Austria`, `Azerbaijan` - LAG(`Azerbaijan`, 1) OVER(ORDER BY `index`) `Azerbaijan`, `Bahamas` - LAG(`Bahamas`, 1) OVER(ORDER BY `index`) `Bahamas`, `Bahrain` - LAG(`Bahrain`, 1) OVER(ORDER BY `index`) `Bahrain`, `Bangladesh` - LAG(`Bangladesh`, 1) OVER(ORDER BY `index`) `Bangladesh`, `Barbados` - LAG(`Barbados`, 1) OVER(ORDER BY `index`) `Barbados`, `Belarus` - LAG(`Belarus`, 1) OVER(ORDER BY `index`) `Belarus`, `Belgium` - LAG(`Belgium`, 1) OVER(ORDER BY `index`) `Belgium`, `Belize` - LAG(`Belize`, 1) OVER(ORDER BY `index`) `Belize`, `Benin` - LAG(`Benin`, 1) OVER(ORDER BY `index`) `Benin`, `Bhutan` - LAG(`Bhutan`, 1) OVER(ORDER BY `index`) `Bhutan`, `Bolivia` - LAG(`Bolivia`, 1) OVER(ORDER BY `index`) `Bolivia`, `Bosnia and Herzegovina` - LAG(`Bosnia and Herzegovina`, 1) OVER(ORDER BY `index`) `Bosnia and Herzegovina`, `Botswana` - LAG(`Botswana`, 1) OVER(ORDER BY `index`) `Botswana`, `Brazil` - LAG(`Brazil`, 1) OVER(ORDER BY `index`) `Brazil`, `Brunei` - LAG(`Brunei`, 1) OVER(ORDER BY `index`) `Brunei`, `Bulgaria` - LAG(`Bulgaria`, 1) OVER(ORDER BY `index`) `Bulgaria`, `Burkina Faso` - LAG(`Burkina Faso`, 1) OVER(ORDER BY `index`) `Burkina Faso`, `Burma` - LAG(`Burma`, 1) OVER(ORDER BY `index`) `Burma`, `Burundi` - LAG(`Burundi`, 1) OVER(ORDER BY `index`) `Burundi`, `Cabo Verde` - LAG(`Cabo Verde`, 1) OVER(ORDER BY `index`) `Cabo Verde`, `Cambodia` - LAG(`Cambodia`, 1) OVER(ORDER BY `index`) `Cambodia`, `Cameroon` - LAG(`Cameroon`, 1) OVER(ORDER BY `index`) `Cameroon`, `Canada` - LAG(`Canada`, 1) OVER(ORDER BY `index`) `Canada`, `Central African Republic` - LAG(`Central African Republic`, 1) OVER(ORDER BY `index`) `Central African Republic`, `Chad` - LAG(`Chad`, 1) OVER(ORDER BY `index`) `Chad`, `Chile` - LAG(`Chile`, 1) OVER(ORDER BY `index`) `Chile`, `China` - LAG(`China`, 1) OVER(ORDER BY `index`) `China`, `Colombia` - LAG(`Colombia`, 1) OVER(ORDER BY `index`) `Colombia`, `Congo (Brazzaville)` - LAG(`Congo (Brazzaville)`, 1) OVER(ORDER BY `index`) `Congo (Brazzaville)`, `Congo (Kinshasa)` - LAG(`Congo (Kinshasa)`, 1) OVER(ORDER BY `index`) `Congo (Kinshasa)`, `Costa Rica` - LAG(`Costa Rica`, 1) OVER(ORDER BY `index`) `Costa Rica`, `Cote d'Ivoire` - LAG(`Cote d'Ivoire`, 1) OVER(ORDER BY `index`) `Cote d'Ivoire`, `Croatia` - LAG(`Croatia`, 1) OVER(ORDER BY `index`) `Croatia`, `Cuba` - LAG(`Cuba`, 1) OVER(ORDER BY `index`) `Cuba`, `Cyprus` - LAG(`Cyprus`, 1) OVER(ORDER BY `index`) `Cyprus`, `Czechia` - LAG(`Czechia`, 1) OVER(ORDER BY `index`) `Czechia`, `Denmark` - LAG(`Denmark`, 1) OVER(ORDER BY `index`) `Denmark`, `Diamond Princess` - LAG(`Diamond Princess`, 1) OVER(ORDER BY `index`) `Diamond Princess`, `Djibouti` - LAG(`Djibouti`, 1) OVER(ORDER BY `index`) `Djibouti`, `Dominica` - LAG(`Dominica`, 1) OVER(ORDER BY `index`) `Dominica`, `Dominican Republic` - LAG(`Dominican Republic`, 1) OVER(ORDER BY `index`) `Dominican Republic`, `Ecuador` - LAG(`Ecuador`, 1) OVER(ORDER BY `index`) `Ecuador`, `Egypt` - LAG(`Egypt`, 1) OVER(ORDER BY `index`) `Egypt`, `El Salvador` - LAG(`El Salvador`, 1) OVER(ORDER BY `index`) `El Salvador`, `Equatorial Guinea` - LAG(`Equatorial Guinea`, 1) OVER(ORDER BY `index`) `Equatorial Guinea`, `Eritrea` - LAG(`Eritrea`, 1) OVER(ORDER BY `index`) `Eritrea`, `Estonia` - LAG(`Estonia`, 1) OVER(ORDER BY `index`) `Estonia`, `Eswatini` - LAG(`Eswatini`, 1) OVER(ORDER BY `index`) `Eswatini`, `Ethiopia` - LAG(`Ethiopia`, 1) OVER(ORDER BY `index`) `Ethiopia`, `Fiji` - LAG(`Fiji`, 1) OVER(ORDER BY `index`) `Fiji`, `Finland` - LAG(`Finland`, 1) OVER(ORDER BY `index`) `Finland`, `France` - LAG(`France`, 1) OVER(ORDER BY `index`) `France`, `Gabon` - LAG(`Gabon`, 1) OVER(ORDER BY `index`) `Gabon`, `Gambia` - LAG(`Gambia`, 1) OVER(ORDER BY `index`) `Gambia`, `Georgia` - LAG(`Georgia`, 1) OVER(ORDER BY `index`) `Georgia`, `Germany` - LAG(`Germany`, 1) OVER(ORDER BY `index`) `Germany`, `Ghana` - LAG(`Ghana`, 1) OVER(ORDER BY `index`) `Ghana`, `Greece` - LAG(`Greece`, 1) OVER(ORDER BY `index`) `Greece`, `Grenada` - LAG(`Grenada`, 1) OVER(ORDER BY `index`) `Grenada`, `Guatemala` - LAG(`Guatemala`, 1) OVER(ORDER BY `index`) `Guatemala`, `Guinea` - LAG(`Guinea`, 1) OVER(ORDER BY `index`) `Guinea`, `Guinea-Bissau` - LAG(`Guinea-Bissau`, 1) OVER(ORDER BY `index`) `Guinea-Bissau`, `Guyana` - LAG(`Guyana`, 1) OVER(ORDER BY `index`) `Guyana`, `Haiti` - LAG(`Haiti`, 1) OVER(ORDER BY `index`) `Haiti`, `Holy See` - LAG(`Holy See`, 1) OVER(ORDER BY `index`) `Holy See`, `Honduras` - LAG(`Honduras`, 1) OVER(ORDER BY `index`) `Honduras`, `Hungary` - LAG(`Hungary`, 1) OVER(ORDER BY `index`) `Hungary`, `Iceland` - LAG(`Iceland`, 1) OVER(ORDER BY `index`) `Iceland`, `India` - LAG(`India`, 1) OVER(ORDER BY `index`) `India`, `Indonesia` - LAG(`Indonesia`, 1) OVER(ORDER BY `index`) `Indonesia`, `Iran` - LAG(`Iran`, 1) OVER(ORDER BY `index`) `Iran`, `Iraq` - LAG(`Iraq`, 1) OVER(ORDER BY `index`) `Iraq`, `Ireland` - LAG(`Ireland`, 1) OVER(ORDER BY `index`) `Ireland`, `Israel` - LAG(`Israel`, 1) OVER(ORDER BY `index`) `Israel`, `Italy` - LAG(`Italy`, 1) OVER(ORDER BY `index`) `Italy`, `Jamaica` - LAG(`Jamaica`, 1) OVER(ORDER BY `index`) `Jamaica`, `Japan` - LAG(`Japan`, 1) OVER(ORDER BY `index`) `Japan`, `Jordan` - LAG(`Jordan`, 1) OVER(ORDER BY `index`) `Jordan`, `Kazakhstan` - LAG(`Kazakhstan`, 1) OVER(ORDER BY `index`) `Kazakhstan`, `Kenya` - LAG(`Kenya`, 1) OVER(ORDER BY `index`) `Kenya`, `Korea, South` - LAG(`Korea, South`, 1) OVER(ORDER BY `index`) `Korea, South`, `Kosovo` - LAG(`Kosovo`, 1) OVER(ORDER BY `index`) `Kosovo`, `Kuwait` - LAG(`Kuwait`, 1) OVER(ORDER BY `index`) `Kuwait`, `Kyrgyzstan` - LAG(`Kyrgyzstan`, 1) OVER(ORDER BY `index`) `Kyrgyzstan`, `Laos` - LAG(`Laos`, 1) OVER(ORDER BY `index`) `Laos`, `Latvia` - LAG(`Latvia`, 1) OVER(ORDER BY `index`) `Latvia`, `Lebanon` - LAG(`Lebanon`, 1) OVER(ORDER BY `index`) `Lebanon`, `Liberia` - LAG(`Liberia`, 1) OVER(ORDER BY `index`) `Liberia`, `Libya` - LAG(`Libya`, 1) OVER(ORDER BY `index`) `Libya`, `Liechtenstein` - LAG(`Liechtenstein`, 1) OVER(ORDER BY `index`) `Liechtenstein`, `Lithuania` - LAG(`Lithuania`, 1) OVER(ORDER BY `index`) `Lithuania`, `Luxembourg` - LAG(`Luxembourg`, 1) OVER(ORDER BY `index`) `Luxembourg`, `MS Zaandam` - LAG(`MS Zaandam`, 1) OVER(ORDER BY `index`) `MS Zaandam`, `Madagascar` - LAG(`Madagascar`, 1) OVER(ORDER BY `index`) `Madagascar`, `Malaysia` - LAG(`Malaysia`, 1) OVER(ORDER BY `index`) `Malaysia`, `Maldives` - LAG(`Maldives`, 1) OVER(ORDER BY `index`) `Maldives`, `Mali` - LAG(`Mali`, 1) OVER(ORDER BY `index`) `Mali`, `Malta` - LAG(`Malta`, 1) OVER(ORDER BY `index`) `Malta`, `Mauritania` - LAG(`Mauritania`, 1) OVER(ORDER BY `index`) `Mauritania`, `Mauritius` - LAG(`Mauritius`, 1) OVER(ORDER BY `index`) `Mauritius`, `Mexico` - LAG(`Mexico`, 1) OVER(ORDER BY `index`) `Mexico`, `Moldova` - LAG(`Moldova`, 1) OVER(ORDER BY `index`) `Moldova`, `Monaco` - LAG(`Monaco`, 1) OVER(ORDER BY `index`) `Monaco`, `Mongolia` - LAG(`Mongolia`, 1) OVER(ORDER BY `index`) `Mongolia`, `Montenegro` - LAG(`Montenegro`, 1) OVER(ORDER BY `index`) `Montenegro`, `Morocco` - LAG(`Morocco`, 1) OVER(ORDER BY `index`) `Morocco`, `Mozambique` - LAG(`Mozambique`, 1) OVER(ORDER BY `index`) `Mozambique`, `Namibia` - LAG(`Namibia`, 1) OVER(ORDER BY `index`) `Namibia`, `Nepal` - LAG(`Nepal`, 1) OVER(ORDER BY `index`) `Nepal`, `Netherlands` - LAG(`Netherlands`, 1) OVER(ORDER BY `index`) `Netherlands`, `New Zealand` - LAG(`New Zealand`, 1) OVER(ORDER BY `index`) `New Zealand`, `Nicaragua` - LAG(`Nicaragua`, 1) OVER(ORDER BY `index`) `Nicaragua`, `Niger` - LAG(`Niger`, 1) OVER(ORDER BY `index`) `Niger`, `Nigeria` - LAG(`Nigeria`, 1) OVER(ORDER BY `index`) `Nigeria`, `North Macedonia` - LAG(`North Macedonia`, 1) OVER(ORDER BY `index`) `North Macedonia`, `Norway` - LAG(`Norway`, 1) OVER(ORDER BY `index`) `Norway`, `Oman` - LAG(`Oman`, 1) OVER(ORDER BY `index`) `Oman`, `Pakistan` - LAG(`Pakistan`, 1) OVER(ORDER BY `index`) `Pakistan`, `Panama` - LAG(`Panama`, 1) OVER(ORDER BY `index`) `Panama`, `Papua New Guinea` - LAG(`Papua New Guinea`, 1) OVER(ORDER BY `index`) `Papua New Guinea`, `Paraguay` - LAG(`Paraguay`, 1) OVER(ORDER BY `index`) `Paraguay`, `Peru` - LAG(`Peru`, 1) OVER(ORDER BY `index`) `Peru`, `Philippines` - LAG(`Philippines`, 1) OVER(ORDER BY `index`) `Philippines`, `Poland` - LAG(`Poland`, 1) OVER(ORDER BY `index`) `Poland`, `Portugal` - LAG(`Portugal`, 1) OVER(ORDER BY `index`) `Portugal`, `Qatar` - LAG(`Qatar`, 1) OVER(ORDER BY `index`) `Qatar`, `Romania` - LAG(`Romania`, 1) OVER(ORDER BY `index`) `Romania`, `Russia` - LAG(`Russia`, 1) OVER(ORDER BY `index`) `Russia`, `Rwanda` - LAG(`Rwanda`, 1) OVER(ORDER BY `index`) `Rwanda`, `Saint Kitts and Nevis` - LAG(`Saint Kitts and Nevis`, 1) OVER(ORDER BY `index`) `Saint Kitts and Nevis`, `Saint Lucia` - LAG(`Saint Lucia`, 1) OVER(ORDER BY `index`) `Saint Lucia`, `Saint Vincent and the Grenadines` - LAG(`Saint Vincent and the Grenadines`, 1) OVER(ORDER BY `index`) `Saint Vincent and the Grenadines`, `San Marino` - LAG(`San Marino`, 1) OVER(ORDER BY `index`) `San Marino`, `Saudi Arabia` - LAG(`Saudi Arabia`, 1) OVER(ORDER BY `index`) `Saudi Arabia`, `Senegal` - LAG(`Senegal`, 1) OVER(ORDER BY `index`) `Senegal`, `Serbia` - LAG(`Serbia`, 1) OVER(ORDER BY `index`) `Serbia`, `Seychelles` - LAG(`Seychelles`, 1) OVER(ORDER BY `index`) `Seychelles`, `Sierra Leone` - LAG(`Sierra Leone`, 1) OVER(ORDER BY `index`) `Sierra Leone`, `Singapore` - LAG(`Singapore`, 1) OVER(ORDER BY `index`) `Singapore`, `Slovakia` - LAG(`Slovakia`, 1) OVER(ORDER BY `index`) `Slovakia`, `Slovenia` - LAG(`Slovenia`, 1) OVER(ORDER BY `index`) `Slovenia`, `Somalia` - LAG(`Somalia`, 1) OVER(ORDER BY `index`) `Somalia`, `South Africa` - LAG(`South Africa`, 1) OVER(ORDER BY `index`) `South Africa`, `Spain` - LAG(`Spain`, 1) OVER(ORDER BY `index`) `Spain`, `Sri Lanka` - LAG(`Sri Lanka`, 1) OVER(ORDER BY `index`) `Sri Lanka`, `Sudan` - LAG(`Sudan`, 1) OVER(ORDER BY `index`) `Sudan`, `Suriname` - LAG(`Suriname`, 1) OVER(ORDER BY `index`) `Suriname`, `Sweden` - LAG(`Sweden`, 1) OVER(ORDER BY `index`) `Sweden`, `Switzerland` - LAG(`Switzerland`, 1) OVER(ORDER BY `index`) `Switzerland`, `Syria` - LAG(`Syria`, 1) OVER(ORDER BY `index`) `Syria`, `Taiwan*` - LAG(`Taiwan*`, 1) OVER(ORDER BY `index`) `Taiwan*`, `Tanzania` - LAG(`Tanzania`, 1) OVER(ORDER BY `index`) `Tanzania`, `Thailand` - LAG(`Thailand`, 1) OVER(ORDER BY `index`) `Thailand`, `Timor-Leste` - LAG(`Timor-Leste`, 1) OVER(ORDER BY `index`) `Timor-Leste`, `Togo` - LAG(`Togo`, 1) OVER(ORDER BY `index`) `Togo`, `Trinidad and Tobago` - LAG(`Trinidad and Tobago`, 1) OVER(ORDER BY `index`) `Trinidad and Tobago`, `Tunisia` - LAG(`Tunisia`, 1) OVER(ORDER BY `index`) `Tunisia`, `Turkey` - LAG(`Turkey`, 1) OVER(ORDER BY `index`) `Turkey`, `US` - LAG(`US`, 1) OVER(ORDER BY `index`) `US`, `Uganda` - LAG(`Uganda`, 1) OVER(ORDER BY `index`) `Uganda`, `Ukraine` - LAG(`Ukraine`, 1) OVER(ORDER BY `index`) `Ukraine`, `United Arab Emirates` - LAG(`United Arab Emirates`, 1) OVER(ORDER BY `index`) `United Arab Emirates`, `United Kingdom` - LAG(`United Kingdom`, 1) OVER(ORDER BY `index`) `United Kingdom`, `Uruguay` - LAG(`Uruguay`, 1) OVER(ORDER BY `index`) `Uruguay`, `Uzbekistan` - LAG(`Uzbekistan`, 1) OVER(ORDER BY `index`) `Uzbekistan`, `Venezuela` - LAG(`Venezuela`, 1) OVER(ORDER BY `index`) `Venezuela`, `Vietnam` - LAG(`Vietnam`, 1) OVER(ORDER BY `index`) `Vietnam`, `West Bank and Gaza` - LAG(`West Bank and Gaza`, 1) OVER(ORDER BY `index`) `West Bank and Gaza`, `Zambia` - LAG(`Zambia`, 1) OVER(ORDER BY `index`) `Zambia`, `Zimbabwe` - LAG(`Zimbabwe`, 1) OVER(ORDER BY `index`) `Zimbabwe` FROM deaths_total

In [285]:
# Running our query to create the new table
with engine.connect() as con:
    rs = con.execute(sql, if_exists='replace' )

# Summary
## Deaths totals

### Python

In [281]:
covid_daily_deaths

,Date_ID,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,3/28/20,4,10,29,3,0,0,18,1,14,...,9,2,1021,0,2,2,0,1,0,1
67,3/29/20,4,10,31,6,2,0,19,3,16,...,10,3,1231,1,2,2,0,1,0,1
68,3/30/20,4,11,35,8,2,0,23,3,17,...,13,5,1411,1,2,3,0,1,0,1
69,3/31/20,4,15,44,12,2,0,27,3,18,...,17,6,1793,1,2,3,0,1,0,1
70,4/1/20,4,15,58,14,2,0,28,4,20,...,20,8,2357,2,2,3,0,1,0,1

### SQL

In [280]:
df = pd.read_sql_query('SELECT * FROM deaths_total', engine)
df

,index,Date_ID,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,0,1/22/20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1/23/20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1/24/20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1/25/20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1/26/20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,66,3/28/20,4,10,29,3,0,0,18,1,...,9,2,1021,0,2,2,0,1,0,1
67,67,3/29/20,4,10,31,6,2,0,19,3,...,10,3,1231,1,2,2,0,1,0,1
68,68,3/30/20,4,11,35,8,2,0,23,3,...,13,5,1411,1,2,3,0,1,0,1
69,69,3/31/20,4,15,44,12,2,0,27,3,...,17,6,1793,1,2,3,0,1,0,1
70,70,4/1/20,4,15,58,14,2,0,28,4,...,20,8,2357,2,2,3,0,1,0,1

## Deaths changes

### SQL

In [282]:
# SQL
df = pd.read_sql_query('SELECT * FROM deaths_change_sql', engine)
df

,Date_id,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,3/28/20,0.0,2.0,3.0,0.0,0.0,0.0,5.0,0.0,1.0,...,4.0,0.0,260.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
67,3/29/20,0.0,0.0,2.0,3.0,2.0,0.0,1.0,2.0,2.0,...,1.0,1.0,210.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
68,3/30/20,0.0,1.0,4.0,2.0,0.0,0.0,4.0,0.0,1.0,...,3.0,2.0,180.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
69,3/31/20,0.0,4.0,9.0,4.0,0.0,0.0,4.0,0.0,1.0,...,4.0,1.0,382.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70,4/1/20,0.0,0.0,14.0,2.0,0.0,0.0,1.0,1.0,2.0,...,3.0,2.0,564.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

### Python

In [283]:
# python
daily_change

,Date_ID,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,3/27/20,0.0,2.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,181.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
66,3/28/20,0.0,2.0,3.0,0.0,0.0,0.0,5.0,0.0,1.0,...,4.0,0.0,260.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
67,3/29/20,0.0,0.0,2.0,3.0,2.0,0.0,1.0,2.0,2.0,...,1.0,1.0,210.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
68,3/30/20,0.0,1.0,4.0,2.0,0.0,0.0,4.0,0.0,1.0,...,3.0,2.0,180.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
69,3/31/20,0.0,4.0,9.0,4.0,0.0,0.0,4.0,0.0,1.0,...,4.0,1.0,382.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0