# Code Test - Joshua McDonald
For [Nucleus Wealth] (https://nucleuswealth.com/) - Application from [Seek](https://www.seek.com.au/job/41223086?type=standout#searchRequestToken=5ef7256d-24d8-45c6-ad1e-75d901414c11)
## Description:
With your application, please include the following coding samples using the data from [CSSEGISandData
/
COVID-19] (https://github.com/CSSEGISandData/COVID-19):

In [573]:
# Imports
import pandas as pd
import io
import requests

## Task 1
Python: Download a timeseries of daily deaths per country

In [574]:
url="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
covid_daily_deaths = pd.read_csv(url, error_bad_lines=False)
covid_daily_deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,1,2,4,4,4,4,4,4
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2,4,5,5,6,8,10,10,11,15
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,17,17,19,21,25,26,29,31,35,44
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,3,3,3,6,8,12
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [575]:
covid_daily_deaths.loc[covid_daily_deaths['Country/Region'] == 'Australia']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,0,0,...,6,6,7,7,7,7,8,8,8,8
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,0,0,0,0,1,1,1,2,2,2
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,0,0,...,0,0,0,0,3,3,3,4,4,4
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,2

## Task 2
Python: Convert the table so that each country and each day is a separate row

- I assume you mean have countries as columns, and days as the rows. 
- the main task here to clean the data so that the coutry names are unique keys, and then reset the columns names

In [576]:
# Cleaning the data
covid_daily_deaths.drop(["Lat", "Long", "Province/State"], axis =1, inplace =True)
covid_daily_deaths = covid_daily_deaths.groupby(["Country/Region"]).sum()

In [577]:

covid_daily_deaths = covid_daily_deaths.transpose()
covid_daily_deaths.index.rename('Date_ID', inplace=True)
covid_daily_deaths.columns.name = None

In [578]:
covid_daily_deaths

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
Date_ID,,,,,,,,,,,,,,,,,,,,,
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3/27/20,4,8,26,3,0,0,13,1,13,58,...,5,2,761,0,1,1,0,1,0,1
3/28/20,4,10,29,3,0,0,18,1,14,68,...,9,2,1021,0,2,2,0,1,0,1
3/29/20,4,10,31,6,2,0,19,3,16,86,...,10,3,1231,1,2,2,0,1,0,1
3/30/20,4,11,35,8,2,0,23,3,17,108,...,13,5,1411,1,2,3,0,1,0,1
3/31/20,4,15,44,12,2,0,27,3,18,128,...,17,6,1793,1,2,3,0,1,0,1

## Task 3
Python: Provide code to upload the table from step 3 into an SQL table named deaths_total

In [579]:
# create an in memory database
from sqlalchemy import create_engine
#!pip install psycopg2-binary
engine = create_engine('sqlite://', echo=False)

# Create SQL table
covid_daily_deaths.to_sql(name= "deaths_total", con=engine )

# Run test query
sql = """
SELECT Date_ID, Australia, US, Italy
FROM deaths_total
"""

df = pd.read_sql_query(sql, engine)
df.tail()

    Date_ID  Australia    US  Italy
65  3/27/20         13  1581   9134
66  3/28/20         14  2026  10023
67  3/29/20         16  2467  10779
68  3/30/20         17  2978  11591
69  3/31/20         18  3873  12428

## Task 4
Python: From the data in step 2, calculate the daily change in deaths for each country

In [580]:
daily_change = covid_daily_deaths.diff()

In [581]:
daily_change

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
Date_ID,,,,,,,,,,,,,,,,,,,,,
1/22/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3/27/20,0.0,2.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,9.0,...,0.0,0.0,181.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3/28/20,0.0,2.0,3.0,0.0,0.0,0.0,5.0,0.0,1.0,10.0,...,4.0,0.0,260.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3/29/20,0.0,0.0,2.0,3.0,2.0,0.0,1.0,2.0,2.0,18.0,...,1.0,1.0,210.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3/30/20,0.0,1.0,4.0,2.0,0.0,0.0,4.0,0.0,1.0,22.0,...,3.0,2.0,180.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3/31/20,0.0,4.0,9.0,4.0,0.0,0.0,4.0,0.0,1.0,20.0,...,4.0,1.0,382.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Task 5
Python: Provide code to upload the table from step 4 into an SQL table named deaths_change_python

In [582]:
daily_change.to_sql(name= "deaths_change_python", con=engine )

In [611]:
# Run test query
    # show me that last 2 weeks
sql = 'SELECT Date_ID, Australia, US, Italy, [United Kingdom] FROM deaths_change_python'

df = pd.read_sql_query(sql, engine)
df.tail(14)

    Date_ID  Australia     US  Italy  United Kingdom
56  3/18/20        1.0   10.0  475.0            16.0
57  3/19/20        0.0   82.0  427.0            66.0
58  3/20/20        1.0   44.0  627.0            40.0
59  3/21/20        0.0   63.0  793.0            56.0
60  3/22/20        0.0  110.0  651.0            48.0
61  3/23/20        0.0  140.0  601.0            54.0
62  3/24/20        1.0  149.0  743.0            87.0
63  3/25/20        0.0  236.0  683.0            43.0
64  3/26/20        5.0  267.0  712.0           114.0
65  3/27/20        0.0  372.0  919.0           181.0
66  3/28/20        1.0  445.0  889.0           260.0
67  3/29/20        2.0  441.0  756.0           210.0
68  3/30/20        1.0  511.0  812.0           180.0
69  3/31/20        1.0  895.0  837.0           382.0

# Task 6
Provide SQL code to calculate the daily change for each country using only the data from deaths_total and save it into an SQL table named deaths_change_sql 
- This is a great opportunity to use a window function and dynamic SQL

In [584]:
# get a list of column names to loop over
sql = """
SELECT name FROM pragma_table_info('deaths_total')"""

df = pd.read_sql_query(sql, engine)
list1 = list(df.name) # This list of countries will need to be hard coded into the SQL. Solutions using meta data such as PRAGMA arent very transferable to other DBMS. 
print(list1[1:])

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Zambia', 'Zimbabwe']

In [620]:
sql = 'SELECT Date_id'
for country in list1[1:]:
    if country == 'Albania':
        break
    country = '['+country+']'
    sql += ', '+str(country)+' - LAG('+str(country)+', 1, 0) OVER(ORDER BY Date_id) '+str(country)
sql+=' FROM deaths_total'
sql
# SELECT Date_id, [Afghanistan] - LAG([Afghanistan], 1, 0) OVER(ORDER BY Date_id) [Afghanistan] FROM deaths_total
sql =   '''SELECT Date_id, China, 
        China - LAG(China, 1, 0) OVER(ORDER BY Date_id) diff 		
        FROM deaths_total'''

In [619]:
df = pd.read_sql_query(sql, engine)
df.tail(14)

OperationalError: (sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT Date_id, China,
        China - LAG(China) OVER(ORDER BY Date_id) diff
        FROM deaths_total]
(Background on this error at: http://sqlalche.me/e/e3q8)